
<div class="sidebar-wrapper">
    <div class="sidebar sidebar-collapse" id="sidebar">
        <div class="sidebar__menu-group">
            <ul class="sidebar_nav">
                <li>
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
                        <span class="nav-icon uil uil-create-dashboard"></span>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-title mt-30">
                    <span>Applications</span>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="BibleView" asp-action="Index">
                        <i class="nav-icon fa fa-book"></i>
                        <span class="menu-text">Bible View</span>
                    </a>
                </li>
                <li class="menu-title mt-30">
                    <span>Admin</span>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="BibleVersions" asp-action="Index">
                        <i class="nav-icon fa fa-book"></i>
                        <span class="menu-text">Bible Versions</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
